.image {
  /* 內容 */
  width: 300px;
  height: 300px;

  /* 外邊框 */
  border: 5px solid black;
  /* border-top: 2px solid red;
  border-bottom: 10px solid green;
  border-left: 20px solid blue;
  border-right: 40px solid saddlebrown; */
}
