* {
  box-sizing: border-box;
}

form {
  width: 500px;
  margin: auto;
  border: 1px solid black;
}

.q1 {
  border-bottom: 2px dashed gray;
  padding-bottom: 20px;
  margin: 20px;
}

.t1 {
  float: left;
  width: 100px;
  text-align-last: justify;
  padding-right: 20px;
}

.btns {
  text-align: center;
  margin: 20px;
}

textarea {
  resize: vertical;
}

/* tag[html屬性=html屬性值] */
input[type="text"],
input[type="password"],
textarea {
  width: calc(100% - 100px);
}
