table {
  width: 1000px;
  border: 5px solid black;
  border-collapse: collapse;
  margin: auto;
}

th,
td {
  height: 50px;
  border: 1px solid gray;
  text-align: center;
}

thead tr {
  background-color: #9a0036;
  color: white;
}

tbody tr:nth-child(2n + 1) {
  background-color: #c8c8c8;
}

tbody tr:nth-child(2n) {
  background-color: lightblue;
}
